@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --breakpoint-xs: 30rem;
  --color-golden-yellow: #e78b48;
  --color-main-card: #1a2339;
  --color-sub-text: #5f6a75;
}

@layer utilities {
  body,
  html {
    --font-sans: 'Inter', 'sans-serif';
  }

  .text-3xl-4xl {
    /* 30px → 36px */
    font-size: clamp(1.875rem, 1.4583rem + 1.3021vw, 2.25rem);
  }
  .text-2xl-3xl {
    /* 24px → 30px */
    font-size: clamp(1.5rem, 1.0417rem + 0.651vw, 1.875rem);
  }
  .text-xl-2xl {
    /* 20px → 24px */
    font-size: clamp(1.25rem, 1.0417rem + 0.651vw, 1.5rem);
  }
  .text-base-xl {
    /* 16px → 20px */
    font-size: clamp(1rem, 0.7917rem + 0.651vw, 1.25rem);
  }
  .text-base-lg {
    /* 16px → 18px */
    font-size: clamp(1rem, 0.8958rem + 0.3255vw, 1.125rem);
  }
  .text-sm-base {
    /* 14px → 16px */
    font-size: clamp(0.875rem, 0.7708rem + 0.3255vw, 1rem);
  }
  .text-xs-sm {
    /* 12px → 14px */
    font-size: clamp(0.75rem, 0.6458rem + 0.3255vw, 0.875rem);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.625rem;
  --background: #0b0f1a;
  --foreground: oklch(0.984 0.003 247.858);

  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);

  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);

  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
